.cover__link{
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/train_station.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 740px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover__link::before {
    content: '';
    background-color: rgb(42, 44, 47);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.3;
    transition: all 0.5s ease-in;
}
  
.cover__link:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1183px) {
    .cover__link{
        min-height: 62.50vw;
    }
}