.header__link_ru{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    font-family: Inter;
    line-height: 1.16;
}

@media screen and (max-width: 320px){
    .header__link_ru{
        font-size: 18px;
        line-height: 1.11;
    }
}