.cover__title{
    max-width: 560px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', "Arial ", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #fff;
    z-index: 1;
}

@media screen and (max-width: 620px) {
    .cover__title{
        max-width: 340px;
        font-size: 48px;
    }
}

@media screen and (max-width: 444px) {
    .cover__title{
        font-size: 32px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 320px) {
    .cover__title{
        max-width: 288px;
    }
}