.place{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 460px) minmax(352px, 484px);
    gap: 48px 40px;
}

@media screen and (max-width: 1023px){
    .place{
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px){
    .place{
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 320px){
    .place{
        row-gap: 32px;
    }

}