.footer{
    display: flex;
    max-width: 1184px;
    margin: 92px auto 24px auto;
    gap: 18px;
    justify-content: space-between;
}

@media screen and (max-width: 1183px){
    .footer{
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px){
    .footer{
        margin: 88px auto 24px auto;
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px){
    .footer{
        flex-direction: column;
        row-gap: 48px;
    }
}

@media screen and (max-width: 320px){
    .footer{
        margin: 64px auto 24px auto;
    }
}